*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

:root {
  --primary: #5f9595;
  --hover-bg: #f0f0f0;
}

button:hover:not(:disabled) {
  background-color: #4a7a7a;
}
