.container {
  padding: 3rem;
  max-width: 35rem;
  margin: 0 auto;
}

.createBtn {
  display: block;
  margin: 0 auto;
  padding: 0.625rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
}
